body{
     font-family: 'Montserrat-black', sans-serif;
}
#title{
    color: white;
    background-color:#ff4c68;
    height: auto;
    
}
h1{
    font-family: 'Montserrat-black', sans-serif;
    font-size:3rem;
    line-height: 1.5;
}
/*navigation bar*/
.container-fluid{
    padding: 5% 15% 12%;
    height: auto;
    width: auto;
}
.navbar-brand{
    font-family: 'Ubuntu', sans-serif;
    font-weight: bold;
    font-size: 2.5rem
}
.navbar{
    padding: 0 0 4.5rem;
}
.nav-item{
    padding: 0px 18px 0px;
}
.downlaod-button{
    margin: 25px 25px 0;
}
.dog{
    height:30rem;
    transform: rotate(20deg);
    margin-right: 2%;
    position: absolute;
    
}
#features{
    margin:0 0 0;
    padding: 3% 5% 3%;
    background-color: white;
    position: relative;
}
.fea{
    margin: 0 0 0;
    padding: 5% 0% 5%;
    text-align: center;
}
.ll{
    font-size: 30px; color: #ef8172; margin-bottom: 25px;
}
.feature-h3{
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 1.5rem;

}
.feature-p{
    width: 200px;
    color: #8f8f8f;
    margin: 0 auto 0;

}
.ll:hover{
    color: #ff4c68;
}
#testimonials{
    background-color: #ef8172;
    text-align: center;
    padding: 3% 25% 3%;
    
}
.testimonials-h2{
    font-family:'Montserrat', sans-serif;
    font-weight: lighter;
    color: white;
    line-height:2;

}
.testimonial-image{
    width: 10rem;
    border-radius: 100%;
}
#press{
      background-color: #ef8172;
    text-align: center;
    padding: 3% 5% 3%;
}
.pre{
    width: 10rem;
}
#pricing{
    text-align: center;
    padding: 3% 5% 3%;
}
#cta{
    background-color: #ff4c68;
    text-align: center;
    padding: 5% 15% 5%;
    margin: 5% 0 5%;

   
}
.cta-h3{
    font-family: 'Montserrat';
    font-weight: bold;
    font-size: 2.5rem;
    color: white;
    width: 70%;
    margin: auto;
     line-height: 1.5;
}
#footer{
    text-align: center;
    background-color:#fff;
}
.icon{
    margin: 1% 1% 1%;
}
.p-margin{
    margin: 3% auto 5%;
}
@media only screen and (max-width: 992px){
    #title{
        text-align: center;
    }
    .dog{
        position: static;
        transform: rotate(0);
    }
}